# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Usually these files are created by the PyInstaller spec file
*.spec
build/
dist/

# Virtual Environments
.env
.venv
venv/
env/

# IDE / Editor specific
.vscode/
.idea/